#header {
  position: fixed;
  background-color: #ef0123;
  height: 54px;
  line-height: 54px;
  top: 0px;
  z-index: 1000;
  width: 100%;

  .logo {
    display: inline-block;
    height: 54px;
    margin-left: 15px;

    a {
      display: inline-block;
      height: 54px;
    }
  }


  .account-menu {
    float: right;
    margin-right: 10px;
   
    li {
      float: left;
      padding: 0 5px;
      margin-left: 5px;
      font-size: 15px;

      &.my {
        img {
          width: 46px;
          height: 46px; 
        }
      }

      a {
        color: #eee;
      }
    }
  }




}