<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RedBook - Note</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <div id="react">{{{markup}}}</div>
    <script id="props" type="application/json">{{{ props }}}</script>
    <script type="text/javascript" src="/assets/js/bundle.js"></script>
    <script type="text/javascript">
      RedBook.moment.locale('ko', RedBook.loaded_locale);
      React.render( RedBook.{{{component}}}(RedBook.props), document.getElementById('react') );
    </script>
    {{> ga_script }}
  </body>
</html>