<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mooving 회원가입</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">
  </head>
  <body>
    <form action="/register" method="post">
      <input type="text" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <input type="password" name="confirm" placeholder="Confirm password" required />
      <input type="submit" value="register" />
    </form>
    <p>
      {{error.message}}
    </p>
  </body>
</html>